@font-face {
  font-family: "next art";
  font-weight: 400;
  src: url("../fonts/next-art/next-art_regular.otf") format("opentype");
}

@font-face {
  font-family: "next art";
  font-weight: 700;
  src: url("../fonts/next-art/next-art_bold.otf") format("opentype");
}

@font-face {
  font-family: "next art";
  font-weight: 200;
  src: url("../fonts/next-art/next-art_light.otf") format("opentype");
}

@font-face {
  font-family: "next art";
  font-weight: 600;
  src: url("../fonts/next-art/next-art_semiBold.otf") format("opentype");
}

@font-face {
  font-family: "next art";
  font-weight: 900;
  src: url("../fonts/next-art/next_art_heavy.otf") format("opentype");
}
